<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= x.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= x.author.name %></h6>
    <p class="card-text"><%= x.body %></p>
    <a href="#" class="card-link"><%= link_to x.author.name, user_path(x.author) %></a>&nbsp;
    <a href="#" class="card-link"><%= link_to 'Show', x %></a>
  </div>
</div>
</div>